* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: gray;
    font-family: "Source Code Pro", monospace;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card {
    box-shadow: 0 0 10px white;
    height: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    width: 475.8px;
    perspective: 1000px;
    border-radius: 50px;
    filter: drop-shadow(0px 34px 64px white);
    background-color: black;
  }
  
  .name {
    color: #1effc3;
    font-weight: 600;
  }
  
  .title {
    color: #dedfe1;
    font-size: 18px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .profile {
    width: 10em;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: #a7e0e5;
  }
  
  .flip-card-back {
    color: #dedfe1;
    /* border: 5px inset black;
      border-radius: 10px; */
    padding: 3px;
    transform: rotateY(180deg);
  }
  
  .icon-box {
    position: relative;
    color: #dedfe1;
    font-size: 24px;
    height: 50px;
    width: 50px;
    /* padding: 5px;
    top: 75px;
    left: 30%; */
    display: inline-block;
    border: 2px solid #dedfe1;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  
  .icon-box:hover {
    box-shadow: inset 0 50px 0 0 #ff1ead;
    color: #ff1ead;
  }
  
  .social i {
    text-decoration: none;
    font-size: 45px;
    color: #dedfe1;
  }
  
  address {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    width: auto;
    font-size: 25px;
  }
  
  .portfolio address a {
    color: #dedfe1;
  }
  
  .portfolio:hover {
    opacity: 0.7;
  }
  